@import "tailwindcss";

@font-face {
    font-family: 'Dosis';
    src: url("/fonts/Dosis.ttf");
}

* {
    font-family: 'Dosis';
}

html {
    font-family: 'Dosis' ;
    @apply scroll-smooth bg-slate-50 dark:bg-slate-950 text-slate-950 dark:text-slate-50;
}
