@import "tailwindcss";

@font-face {
    font-family: 'Dosis';
    src: url("/fonts/Dosis.ttf");
}

* {
    font-family: 'Dosis';
}

html {
    font-family: 'Dosis' ;
    @apply scroll-smooth bg-slate-50 dark:bg-slate-950 text-slate-950 dark:text-slate-50;
}

.mapboxgl-map {
    font-family: 'Dosis' !important;
}

.search{
    width: clamp(1px,100%,640px);
    @apply bg-blue-500 rounded-2xl text-left text-lg
}

.search > div:nth-child(1){
    display: flex;
    font-size: 1rem;
    width: calc( 100% - 32px );
    padding: 0 8px;
    align-items: center;
}

input.searchbar  {
    all:unset;
    flex:1;
    padding: 10px 5px;
    width: inherit;
    font-size: 16px;
    height: 20px;
}

.search > div:nth-child(2){
    display: none;
    border-radius: 0 0 16px 16px;   
    overflow: hidden;
}

.search:focus-within > div:nth-child(2){
    display: block;
}

.search > div:nth-child(2) > button{
    width: 100%;
    padding: 8px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block;
    text-align: left;
    border-radius: unset;
}

.mapboxgl-ctrl-top-left {
    width: calc(100% - 20px);
    padding: 10px;
    margin:0;
}

.mapboxgl-ctrl-top-left > .mapboxgl-ctrl.search{
    margin:0;
}
